@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page-wrapper {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-wrapper {
    width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
.main-header {
  position: absolute;
  width: 320px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-header {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    width: 1200px;
  }
}
.main-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 1200px;
  }
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-nav__toggle {
  width: 23px;
  height: 22px;
  position: absolute;
  border: 0;
  padding: 0;
  top: 17px;
  right: 20px;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 768px) {
  .site-list {
    flex-direction: row;
  }
}
.site-list__item {
  position: relative;
  width: 320px;
  height: 55px;
  background-color: #81b3d2;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .site-list__item {
    width: 153px;
    height: 56px;
    color: #000000;
    background-color: inherit;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    width: 240px;
  }
}
@media (min-width: 768px) {
  .site-list__item--current .site-list__link {
    color: #766357;
  }
}
.site-list__link {
  position: relative;
  display: block;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 12px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}
@media (min-width: 768px) {
  .feedback-list {
    flex-direction: row;
  }
}
.feedback-list__item {
  position: relative;
  width: 320px;
  height: 55px;
  background-color: #81b3d2;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .feedback-list__item {
    width: 153px;
    height: 56px;
    color: #000000;
    background-color: inherit;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .feedback-list__item {
    width: 240px;
  }
}
.feedback-list__link {
  position: relative;
  display: block;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 12px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .feedback-list__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}
.main {
  flex-grow: 1;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
.main__slogan {
  height: 389px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/intro/welcome-background.jpg");
  background-size: 320px 389px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .main__slogan {
    height: 518px;
    background-image: url("../img/intro/welcome-background--desktop.jpg");
    background-size: 768px 518px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .main__slogan {
    background-image: url("../img/intro/welcome-background--desktop.jpg");
    background-size: 1200px 518px;
    background-repeat: no-repeat;
  }
}
.main__introduction {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .main__introduction {
    align-self: center;
    width: 520px;
    height: 102px;
    padding: 32px 124px 57px 124px;
  }
}
@media (min-width: 1200px) {
  .main__introduction {
    padding: 59px 358px 45px 359px;
  }
}
.main__attractions {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
  list-style-type: none;
}
.main__search-hotel {
  display: flex;
  flex-direction: column;
  padding: 39px 18px 49px 18px;
}
@media (min-width: 768px) {
  .main__search-hotel {
    padding: 61px 155px 58px 155px;
  }
}
@media (min-width: 1200px) {
  .main__search-hotel {
    padding-bottom: 66px;
  }
}
.main__location {
  display: flex;
}
.main__introduce {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/intro/sedona-background.jpg");
  background-size: 320px 214px;
  background-repeat: no-repeat;
  margin-bottom: 36px;
}
.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slogan__logo {
  width: 282px;
  height: 214px;
  margin: 90px 19px 85px 19px;
}
.slogan__logo::after {
  content: "";
  display: block;
  margin-top: auto;
  background-image: url("../img/intro/welcome-background.jpg");
  width: 100%;
  height: 57px;
  background-repeat: no-repeat;
}
.introduction__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
}
.introduction__description {
  color: #333333;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.attractions__attraction {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .attractions__attraction {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .attractions__attraction {
    min-height: 152px;
  }
}
.attractions__attraction--small-square {
  padding: 26px 20px 24px 20px;
}
@media (min-width: 768px) {
  .attractions__attraction--small-square {
    max-width: 185px;
    padding: 42px 36px 63px 35px;
  }
}
@media (min-width: 1200px) {
  .attractions__attraction--small-square {
    max-width: 300px;
    padding: 43px 50px 62px 50px;
  }
}
.attractions__attraction--beautiful-road {
  padding: 24px 41px 24px 41px;
}
@media (min-width: 768px) {
  .attractions__attraction--beautiful-road {
    max-width: 148px;
    padding: 46px 54px;
  }
}
@media (min-width: 1200px) {
  .attractions__attraction--beautiful-road {
    max-width: 292px;
    padding: 42px 54px 62px 54px;
  }
}
.attractions__attraction--few-tourists {
  padding: 24px 31px 26px 31px;
}
@media (min-width: 768px) {
  .attractions__attraction--few-tourists {
    max-width: 135px;
    padding: 46px 60px 46px 61px;
  }
}
@media (min-width: 1200px) {
  .attractions__attraction--few-tourists {
    max-width: 290px;
    padding: 42px 55px 62px 55px;
  }
}
.attractions__attraction--deployed {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .attractions__attraction--deployed {
    min-width: 768px;
    min-height: 256px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .attractions__attraction--deployed {
    min-width: 1200px;
  }
}
.attraction__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  padding-top: 54px;
  padding-bottom: 40px;
}
.attraction__wrapper--devils-bridge {
  padding-top: 39px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .attraction__wrapper {
    max-width: 256px;
    padding: 39px 31px 35px 31px;
  }
}
@media (min-width: 1200px) {
  .attraction__wrapper {
    padding: 39px 72px 35px 72px;
  }
}
.attraction__title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 11px;
}
.attraction__title--deployed {
  color: #ffffff;
}
@media (min-width: 768px) {
  .attraction__title--deployed {
    max-width: 128px;
  }
}
.attraction__number,
.attraction__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}
.attraction__number--deployed,
.attraction__description--deployed {
  color: #ffffff;
}
@media (min-width: 768px) {
  .attraction__number--deployed,
  .attraction__description--deployed {
    max-width: 194px;
  }
}
@media (min-width: 1200px) {
  .attraction__number--deployed,
  .attraction__description--deployed {
    max-width: 285px;
  }
}
.attraction__number {
  margin-bottom: 17px;
}
.attraction__photo {
  width: 320px;
  height: 260px;
  background-repeat: no-repeat;
  background-size: 520px 260px;
}
@media (min-width: 768px) {
  .attraction__photo--devil-bridge {
    order: -1;
  }
}
@media (min-width: 768px) {
  .attraction__photo {
    width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .attraction__photo {
    width: 800px;
  }
}
.attraction__advantages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 23px 18px 52px 18px;
  color: #000000;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .attraction__advantages {
    flex-direction: row;
    padding: 0;
  }
}
.advantages__item {
  text-align: left;
  padding-left: 47px;
}
@media (min-width: 768px) {
  .advantages__item--residence {
    padding: 158px 36px 59px 36px;
  }
}
@media (min-width: 768px) {
  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    padding-top: 158px;
    padding-bottom: 59px;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    max-width: 400px;
    padding: 160px 59px 80px 59px;
  }
}
.advantages__title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 22px;
}
.advantages__description {
  margin: 0;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 1200px) {
  .advantages__description {
    max-width: 282px;
  }
}
.button {
  color: #ffffff;
  background-color: #81b3d2;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.search-hotel__title {
  font-size: 21px;
  margin: 0;
  margin-bottom: 21px;
}
.search-hotel__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .search-hotel__description {
    margin-bottom: 41px;
  }
}
@media (min-width: 1200px) {
  .search-hotel__description {
    margin-bottom: 46px;
  }
}
.search-hotel__button {
  padding: 16px 49px;
}
@media (min-width: 768px) {
  .search-hotel__button {
    padding: 15px 121px 17px 121px;
  }
}
@media (min-width: 1200px) {
  .search-hotel__button {
    max-width: 216px;
    padding: 16px 136px 17px 136px;
    align-self: center;
  }
}
.location__map {
  width: 320px;
  height: 350px;
}
@media (min-width: 768px) {
  .location__map {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .location__map {
    width: 1200px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 29px;
  padding-bottom: 29px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .footer {
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 36px 0;
  }
}
.footer__hashtag {
  font-size: 21px;
  margin: 0;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .footer__hashtag {
    margin: 0;
  }
}
.footer__social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  gap: 6px;
}
@media (min-width: 768px) {
  .footer__social {
    margin: 0;
  }
}
.social__item {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.copyright {
  display: flex;
  justify-content: center;
}
.copyright__developed {
  min-width: 121px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-self: center;
  margin: 0;
}
.copyright__logo {
  align-self: center;
  margin: 0;
}
.introduce__logo {
  margin-top: 106px;
  margin-left: 45px;
  margin-bottom: 67px;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  border: 0;
}
.form__list {
  margin: 0;
  padding: 0;
}
.form__title {
  margin-bottom: 20px;
}
.form__item {
  border: 0;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
}
.form__area {
  width: 247px;
  height: 118px;
  padding: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
}
.form__send {
  width: 281px;
  height: 58px;
  margin-bottom: 3px;
}
.form__description {
  margin: 0;
  margin-right: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  align-self: flex-end;
}
.fieldset__label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin-bottom: 16px;
}
.fieldset__title {
  margin-bottom: 20px;
}
.fieldset__placeholder {
  width: 248px;
  height: 26px;
  padding: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: 0;
}
.fieldset__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.fieldset__item {
  margin: 0;
  margin-bottom: 16px;
}
.control__label {
  text-transform: none;
}
.catalog {
  display: flex;
  flex-direction: column;
}
.catalog__itroduce {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/intro/sedona-background.jpg");
  background-size: 320px 214px;
  background-repeat: no-repeat;
}
.catalog__photos {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.photos__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 280px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 50px;
}
.photos__photo {
  margin-bottom: 15px;
  align-self: center;
}
.photos__title {
  margin: 0;
}
.photos__author {
  margin: 0;
  font-weight: 400;
  text-transform: none;
  color: #333333;
}
.photos__like {
  border: 0;
  color: #000000;
  background-color: initial;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-left: 37px;
}
.conviction__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 38px;
}
.conviction__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 38px;
}
/*# sourceMappingURL=style.css.map */
